body{
    background-color: blue;
    font-family: "Raleway";
}

.exercice{
  color:   #272932;
  background-color: #c62e65;
  display: block;
  width: 100%;
  height: 140px;
  text-align: center;
  padding-top: 15px;
}

p{ font-size: 18px; }

h1{ font-size: 30px; }

form{
  color: #c62e65;
  background-color: #d8a47f;
  display: block;
  width: 100%;
  height: 100px;
  text-align: center;
  padding-top: 30px;
  font-size: 18px;
}
